.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #0000007a;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }


h1 {
    color: #000000;
    margin-bottom: 20px;
    text-align: right;
}
.display-6 {
    text-align: center;
}
body {
    background-color: #121212;
}

.btn, .btn-secondary, .btn-sm {
    margin-top: 10px;
    margin-left: 5px;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6c757d00;
    --bs-btn-border-color: #6c757d00;
    --bs-btn-hover-color: rgb(255, 255, 255);
    --bs-btn-hover-bg: #5c636a00;
    --bs-btn-hover-border-color: #565e6400;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e6400;
    --bs-btn-active-border-color: #51585e00;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgba(255, 255, 255, 0);
    --bs-btn-disabled-bg: #6c757d00;
    --bs-btn-disabled-border-color: #6c757d00;
}

p {
    color: #fff;
    font: -apple-system;
    font-size: 24px;
}

.text-centr {
    color: #fff;
    margin-bottom: 20px;
}
.text-tik {
    text-align: left;
    color: #fff;        
}

.text-tik-price {
    text-align: right;
    color: #fff;
    font-weight: 300;
}

#h1-price {
    margin-bottom: 0px;
}


span {
    text-align: left;
    color: #fff;
}

#bg {
    position:fixed;
    z-index: -1;
    top:0;
    left:0; 
    min-width:100%;
    min-height:100%;
    transform: rotate(180deg);
}

.bg-secondary {
    --bs-bg-opacity: 0.2;
    background: #7e22229d!important;
}

#pills-home-tab {
    color: #000000;
    font-weight: 700;
}

#pills-profile-tab {
    color: #000000;
    font-weight: 700;
}

#pills-video-tab {
    color: #000000;
    font-weight: 700;
}

#pills-contact-tab {
    color: #000000;
    font-weight: 700;
}

@media screen and (max-width:575px){
    .text-tik{
        text-align:center;
        }
    #pills-home-tab{
            color: #ffffff;
            font-weight: 700;
        }
        
    #pills-profile-tab{
            color: #ffffff;
            font-weight: 700;
        }
        
    #pills-video-tab{
            color: #ffffff;
            font-weight: 700;
        }
        
    #pills-contact-tab{
            color: #ffffff;
            font-weight: 700;
        }
    }

    #tgwa {
        text-align: right;
        color: #ffffff;
    }

    